/*
/* Sarah Williams
* Due Date 
* Project Name and Description
*/

/* The universal selector */

* {
    margin: 0;
    padding: 0;
}

/* Body properties here */

body {
background-color: lightblue;
    border-top: 2px dashed blue;
    border-right: 2px dashed blue;
    border-bottom: 2px dashed blue;
    border-left: 2px dashed blue;
}
main {
    background-color: cadetblue;
    height: auto;
    width: auto;
    border-top: 2px solid mediumpurple;
    border-right: 2px solid mediumpurple;
    border-bottom: 2px solid mediumpurple;
    border-left: 2px solid mediumpurple;
    padding: 1em;
    margin: 1em;
}
h1 {
    width: 80%;
    border-top: 2px dashed blue;
    border-right: 2px dashed blue;
    border-bottom: 2px dashed blue;
    border-left: 2px dashed blue;
    padding: .5em;
    margin: .5em;
}
p {
    width: 80%;
    border-top: 2px dashed blue;
    border-right: 2px dashed blue;
    border-bottom: 2px dashed blue;
    border-left: 2px dashed blue;
    padding: 1em;
    margin: .5em;
}
